
{{ $home := .Site.Home }}


<div class="css-treeview" style="padding-bottom: 10px;">
	<!-- <li class="pagelink"><a href="{{ $home.Permalink }}#">Home</a> -->
	{{ template "section-tree-nav" $home }}
</div>


{{ define "section-tree-nav" }}

	<li class="pagelink">
	<!-- S  -->
	<a class="pagelink" href="{{ .RelPermalink}}#">{{ .Title }}</a>
	</li>

	<!-- if home page -->
	{{ if not .Section }}
		{{ $.Scratch.Set "children" (where .Pages "Section" "") }}
	{{ end }}

	<!-- if a section -->
	{{ if .Section }}
		{{ $.Scratch.Set "children" .Pages }}
	{{ end }}

	{{ $children := $.Scratch.Get "children" }}

	{{ if($children) }}
		<ul class="pagelink">
	{{ end }}

	{{ range $children }}
		<li class="pagelink">
			<!-- P -->
			<a class="pagelink" href="{{ .RelPermalink}}#">{{ .Title }}</a>
		</li>
	{{ end }}

	{{ if($children) }}
		</ul>
	{{ end }}

	<!-- newly added -->
	{{ if(.Sections) }}
		<ul class="pagelink">
	{{ end }}

	{{ range .Sections }}
		{{ template "section-tree-nav" . }}
	{{ end }}

	<!-- newly added -->
	{{ if(.Sections) }}
		</ul>
	{{ end }}

{{ end }}



